/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

/* @media (max-width: 1340px) {
  .banner-container p {
    width: 500px;
  }
} */

@media (max-width: 775px) {
  .cards {
    width: 85%;
    flex-wrap: wrap;
    margin: 0 auto 80px auto;
  }

  .card {
    flex-shrink: 0;
  }

  .banner-container p {
    width: 75%;
  }
}
